.weather-box {
  height: 9.8125rem;
  width: 7.625rem; /* 122px */
  position: sticky;
  border-radius: 0.8rem;
  background-color: white;
}

.weather-box1 {
  position: absolute;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 5;

  top: 50%;
  bottom: 50%;
}

#tooltip {
  position: relative;
  cursor: pointer;
  padding: 7px;
  font-size: 25px;
}
#tooltipText {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  background-color: #000;
  color: #fff;
  white-space: nowrap;
  padding: 10px 15px;
  border-radius: 7px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
}

#tooltipText::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  border: 15px solid;
  border-color: #000 #0000 #0000 #0000;
}

#tooltip:hover #tooltipText {
  top: -130%;
  visibility: visible;
  opacity: 1;
}
.actived {
  color: blueviolet;
}
/* .actived::after {
  content: "";
  position: absolute;
  background-color: #ff3c78;
  height: 2px;
  border-radius: 2px;
  width: 100%;
  right: 50%;
} */
